*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/homefinder-b7907-firebase-adminsdk-fbsvc-f6552f32ff.json
/ElevenLabs_Quick_swipe_gesture_swoosh,_smooth_interface_sound.mp3
